body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 75px auto auto auto auto;
    grid-template-areas: 
    "head"
    "s1"
    "s2"
    "s3"
    "foot"
    ;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(#41454F , #23252B);
    color:#A2A2A2;
    font-family: "Montserrat", 'Telefon', Sans-Serif;

    min-height: 100vh;
}



/*Nav*/

#head{
    grid-area: head;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100vw - 20px);
    padding: 10px;
    background-color: #000000;
    position: fixed;
}

#head > .logo img{
    width:225px;
}

#head > .menu img{
    width:50px;
}


/*dropdown menu*/

#head input{
    display: block;
    width:50px;
    height: 50px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 6;
    opacity: 0;
    cursor: pointer;
    margin: 10px;
}

#head .dropdown-menu{
    position: fixed;
    top: 0;
    left: 0;
    transform-origin: 0% 0%;
   transform: translate(0, -100%);
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
   -webkit-font-smoothing: antialiased;

   width:100vw;
   height:100vh;
   background-image: linear-gradient(#41454F , #23252B);
   z-index: 3;
}

#head input:checked ~ .dropdown-menu{
    transform: none;
}

.menu-options{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}

.create-search{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:10px;
}

.search{
    display: none;
}


.login-signup{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin:10px;
}

.create-search img{
    width:30px;
    height: 30px;
}

.create-search > .exit{
padding: 8px;
background-color:  #36383F;
width: 30px;
height: 30px;
border-radius: 3px;
}


.dropdown-menu .btn{
    background-color: #36383F;
    padding: 15px 15px;
    border-radius: 3px;
}

.btn h5{
    margin: 0;
}



.dropdown-menu{
    color: white;
    font-weight: 600;
}


.menu-options h3{
    color: #F4E187;
    margin: 0;
    margin-bottom: 15px;
    font-weight: 500;
}


.menu-options h3 i{
    font-size:medium;
}


.menu-options .spark{
    color: #A9A4A0;
}

/* Intro Text */

#intro-text{
    grid-area: s1;
    width: calc(100% - 20px);
    padding: 10px;
    
}

#intro-text span{
    font-weight: 700;
    color: white;
}

/* buttons */

#buttons{
    grid-area: s2;
    width: calc(100% - 20px);
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 4px;
}

#buttons button{
    margin:5px;
    padding: 5px 8px;
    font-weight: 500;
    font-size: 1.1em;
    border: none ;
    border-radius: 3px;
}

#buttons > #green button{
    background-color: #4BCE79;
    color: black;
}

#buttons > #black button{
    background-color: black;
    color: white;
}


/* image and text*/

#projects{
    grid-area: s3;
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 50px;
}

#projects p{
    margin:0;
    
}

#projects span{
    color: #6FD8FA;
    font-weight: 500;
}

#projects img{
    width: calc(100% - 20px);
    margin: 10px;
    border: 1px solid black;
    border-radius: 3px;
}


/* footer */

#foot{
    grid-area: foot;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.footer-box{
    border: 1px solid #707070;
    background-color: #36383F;
    width: calc(50% - 2px);
    text-align: center;
}

.footer-box h6{
    font-size: .8em;
    font-weight: 600;
    margin: 10px 0;
}



/* nav styles for computer */

@media screen and (min-width: 1000px) {

    #head input, #head > .menu img{
        display: none;

    }


    #head .dropdown-menu{
        position: relative;
        transform: none;
        transition: none;
        width: auto;
        height: 50px;
        background-image: none;
        display: flex;
        align-items: center;
    }

    #head .dropdown-menu .menu-options{
        flex-direction: row;
        order: 1;
        margin-top: 40px;
    }

    #head .dropdown-menu .menu-options p{
        padding: 0 10px;
    }

    #head .dropdown-menu .menu-options h3 #search{
        display: none;
    }

    .create-search div, .login-signup div{
        margin: 5px;
    }


    .create-search{
        order: 2;
    }


    .login-signup{
        order: 4;
    }


    .create-search .exit{
        display: none;
    }

    .search{
        order: 3;
        font-size: 1.5em;
    }


    /*
    #head .dropdown-menu{
    position: fixed;
    top: 0;
    left: 0;
    transform-origin: 0% 0%;
   transform: translate(0, -100%);
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
   -webkit-font-smoothing: antialiased;

   width:100vw;
   height:100vh;
   background-image: linear-gradient(#41454F , #23252B);
   z-index: 3;
}

*/
}